@font-face {
    font-family: Inter-ExtraBold;
    src: url(../fonts/Inter-ExtraBold.ttf);  
}
@font-face {
    font-family: Inter-Regular;
    src: url(../fonts/Inter-Regular.ttf);  
}
@font-face {
    font-family: Inter-Medium;
    src: url(../fonts/Inter-Medium.ttf);  
}
body {
    background-color: #D9E8EF;
    margin: 0;
}

html, 
body {
    height: 100%;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.logo-and-hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hero-text {
    /* width: 540px;
    height: 196px; */
    font-family: Inter-ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    padding-right: 20px;
}
.below-hero-text {
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.titlebar {
    padding: 10px;
}
.nav-bar-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../images/building-background.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.nav-bar-link {
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer {
    background-color: black;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.footer-text {
    color: white;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

}